/* .header-container {
  display: flex;
  align-items: center;
} */

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1158px) {
    
}


/* footer */



.footer-container {
  width: 5**;
  align-items: baseline;
}

.footer-div {
  margin-right: 120px;
}

/* .footer-logo {
  display: inline-block;
  margin-bottom: 16px;
} */

.footer-copyright {
  width: 264px;
}

/* .footer-media{
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
} */

.footer-icon-list {
  /* display: flex;
  gap: 16px; */
  justify-content: center;
}


.footer-form {
  display: flex;
  gap: 24px;
}


/* .footer-input:hover::placeholder,
.footer-input:focus::placeholder {
  color: #31d0aa;
} */




/* backdrop */










